<fieldset id='shipping_method' data-hook>
  <legend><%= t(:shipping_method) %></legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <p class="field radios">
        <% 
        available_shipping_methods = @order.rate_hash
      
        is_retailer = spree_current_user.spree_roles.include? Spree::PerlimpinpinController::ROLE_RETAILER
        
        available_shipping_methods.each do |shipping_method| 
          
          ship_retailer = shipping_method.id == Spree::PerlimpinpinController::SHIPPING_METHOD_RETAILER.id
          
          if (is_retailer and ship_retailer) or (!is_retailer and !ship_retailer) %>
            <label>
              <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
              <%= shipping_method.name %> <%= shipping_method.display_price %>
            </label>
          <% end %>
        <% end %>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>
